@import "tailwindcss";

@theme {
    --color-dark-navy-blue: #000080;
    --color-satara-red:#FB2C36;
    --color-satara-dark:#000000;
    --color-white:#FFFFFF;
}

@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  animation: ticker 5s linear infinite;
}

